<%- include("header") -%>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet doloribus esse autem commodi quibusdam voluptates culpa, saepe cupiditate labore suscipit quia officia sint. 
Pariatur facere saepe iusto sapiente officiis repellendus!</p>

<%- include("footer") -%>